* {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: hidden;
}

h3 { margin: 2.5rem auto 1rem; font-size: 2.25rem; font-weight: 500; text-align: center; }
h3 + p { margin: 0 auto 2.5rem; font-size: 1.25rem; font-weight: 300; text-align: center; }

.piano--container {
    background: transparent;
    width: 35%;
    height: 25%;
    margin: 0 auto; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    .piano--key {
        width: calc(100% / 14);
        background: #f8f8f8;
        height: 100%;
        border: 1px solid #e4e4e4;
        border-radius: 0 0 .35rem .35rem;
        -webkit-box-shadow: 0px 6px 12px rgba(50,50,50,.1),
                    0px 3px 5px rgba(60,60,60,.3);
                box-shadow: 0px 6px 12px rgba(50,50,50,.1),
                    0px 3px 5px rgba(60,60,60,.3);
        overflow: hidden;
        cursor: pointer;
        z-index: 1;
        -webkit-transition: all .1s linear;
        -o-transition: all .1s linear;
        transition: all .1s linear;

        &:hover {
            z-index: 0;
            -webkit-transform: scaleY(.99);
                -ms-transform: scaleY(.99);
                    transform: scaleY(.99);
            -webkit-transform-origin: top;
                -ms-transform-origin: top;
                    transform-origin: top;
            -webkit-box-shadow: 0px 3px 3px rgba(50,50,50,.2),
                        0px -8px 12px rgba(50,50,50,.1) inset;
                    box-shadow: 0px 3px 3px rgba(50,50,50,.2),
                        0px -8px 12px rgba(50,50,50,.1) inset;

                        &::after { display: none; }
        }

        &::after {
            content: '';
            width: 85%;
            height: 92.5%;
            border: none;
            border-bottom: 2px solid #fff;
            border-left: 2px solid #fff;
            border-right: 2px solid #fff;
            display: block;
            position: absolute;
            bottom: 2%;
            left: 2.5%;
            right: 2.5%;
            -webkit-filter: blur(1px);
                    filter: blur(1px);
        }

        &:nth-child(2), 
        &:nth-child(4), 
        &:nth-child(7), 
        &:nth-child(9), 
        &:nth-child(11), 
        &:nth-child(14), 
        &:nth-child(16), 
        &:nth-child(19), 
        &:nth-child(21), 
        &:nth-child(23) {
            background: black;
            width: calc(100% / 24);
            height: 75%;
            margin: 0 0 auto;
            border: none;
            -webkit-box-shadow: 0px 8px 12px rgba(50,50,50,.3),
                        0px 3px 2px rgba(60,60,60,.3);
                    box-shadow: 0px 8px 12px rgba(50,50,50,.3),
                        0px 3px 2px rgba(60,60,60,.3);
            overflow: visible;
            position: absolute;
            top: 0;
            z-index: 2;

            &::after {
                width: 57.5%;
                height: 97%;
                border-bottom: 8px solid #d3d3d3;
                border-left: 8px solid #d3d3d3;
                border-right: 8px solid #d3d3d3;
                opacity: .4;
                bottom: 0;
                left: -7.5%;
                right: 7.5%;
                -webkit-filter: blur(.135rem);
                        filter: blur(.135rem);
                overflow: hidden;
            }

            &:hover {
                -webkit-transform: scaleY(.99);
                    -ms-transform: scaleY(.99);
                        transform: scaleY(.99);
                -webkit-transform-origin: top;
                    -ms-transform-origin: top;
                        transform-origin: top;
                -webkit-box-shadow: 0px 3px 3px rgba(50,50,50,.2),
                            0px -8px 12px rgba(50,50,50,.1) inset;
                        box-shadow: 0px 3px 3px rgba(50,50,50,.2),
                            0px -8px 12px rgba(50,50,50,.1) inset;

                            &::after { display: block; }
            }
        }

        &:nth-child(1) { }
        &:nth-child(2) { left: 5%; }
        &:nth-child(3) { }
        &:nth-child(4) { left: 11.5%; }
        &:nth-child(5) { }
        &:nth-child(6) { }
        &:nth-child(7) { left: 26.5%; }
        &:nth-child(8) { }
        &:nth-child(9) { left: 33.5%; }
        &:nth-child(10) { }
        &:nth-child(11) { left: 41%; }
        &:nth-child(12) { }
        &:nth-child(13) { }
        &:nth-child(14) { left: 55.25%; }
        &:nth-child(15) { }
        &:nth-child(16) { left: 62.25%; }
        &:nth-child(17) { }
        &:nth-child(18) { }
        &:nth-child(19) { left: 69.25%; }
        &:nth-child(20) { }
        &:nth-child(21) { left: 83.5%; }
        &:nth-child(22) { }
        &:nth-child(23) { left: 90.5%; }
        &:nth-child(24) { }
    }
}